designs/pages/forgotPasswowrd.json
[
    {
        "id": "sd_0gnYLAWUqnINq9N0",
        "type": "tab",
        "createdDate": "2024-05-23T06:54:10.637Z",
        "label": "forgotPasswowrd",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "forgotPasswowrdComponent"
    },
    {
        "id": "sd_PsOyi5kSzjhJ2DrJ",
        "type": "OnInit",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_PsOyi5kSzjhJ2DrJ",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_WjiIzzwjZaoJXURi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "forgotPasswowrdComponent"
    },
    {
        "id": "sd_WjiIzzwjZaoJXURi",
        "type": "PageVariables",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "emailPattern",
                "typedIpValue": {
                    "type": "literal",
                    "value": "/^[^\\s@]+@([^\\s@.,]+\\.)+[^\\s@.,]{2,}$/"
                }
            },
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "userDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{ email: '', collection:''}"
                }
            },
            {
                "textIp": "url",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_WjiIzzwjZaoJXURi",
        "category": "Function",
        "x": 165,
        "y": 20,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPasswowrdComponent",
        "generated": true
    },
    {
        "id": "sd_YIrGoHpekiUg6eP9",
        "type": "PageStart",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Forgot password",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "forgotPassword",
        "category": "General",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "sd_ajo2bp8f9UKLyAbu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "forgotPasswowrdComponent"
    },
    {
        "id": "sd_ajo2bp8f9UKLyAbu",
        "type": "PageSwitch",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_ajo2bp8f9UKLyAbu",
        "category": "Function",
        "x": 245,
        "y": 200,
        "wires": [
            [
                "sd_yYwROCU8jNgaD8Ub"
            ],
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPasswowrdComponent",
        "generated": true
    },
    {
        "id": "sd_L1QgRt7XT495Ri4j",
        "type": "HttpRequest",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.userDetails",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "userDetails"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_L1QgRt7XT495Ri4j",
        "category": "HTTP",
        "x": 525,
        "y": 120,
        "wires": [
            [
                "sd_naM3sEiS48Zg45pZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPasswowrdComponent",
        "generated": true
    },
    {
        "id": "sd_yYwROCU8jNgaD8Ub",
        "type": "Environment",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "url"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_yYwROCU8jNgaD8Ub",
        "category": "General",
        "x": 265,
        "y": 100,
        "wires": [
            [
                "sd_AanO8EACgAAmpCL4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPasswowrdComponent",
        "generated": true
    },
    {
        "id": "sd_AanO8EACgAAmpCL4",
        "type": "Script",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true;\nbh.url = bh.url + 'admin-forgot';\n// page.loader = true;\n// console.log(bh.input.form)\nconsole.log(page.userDetails)\n",
        "functionName": "sd_AanO8EACgAAmpCL4",
        "category": "Function",
        "x": 365,
        "y": 100,
        "wires": [
            [
                "sd_EdV2gDVguxJSbGCs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPasswowrdComponent",
        "generated": true
    },
    {
        "id": "sd_0kk2ZDroPPlcmYQR",
        "type": "SnackBar",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Verification code sent to your email"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_0kk2ZDroPPlcmYQR",
        "category": "General",
        "x": 685,
        "y": 120,
        "wires": [
            [
                "sd_jNPe6TJ5kBr51BUJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPasswowrdComponent",
        "generated": true
    },
    {
        "id": "sd_jNPe6TJ5kBr51BUJ",
        "type": "Navigation",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/verification",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_jNPe6TJ5kBr51BUJ",
        "category": "Navigation",
        "x": 785,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPasswowrdComponent",
        "generated": true
    },
    {
        "id": "sd_VkeXD9PznT7SlhFC",
        "type": "PageStart",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "pages",
        "nodeType": "start",
        "name": "generate random code",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "email",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "random",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "flow_type": "sync",
        "functionName": "generateRandomCode",
        "category": "General",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "sd_fTS0qDBIzPc53QXg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "forgotPasswowrdComponent"
    },
    {
        "id": "sd_fTS0qDBIzPc53QXg",
        "type": "Script",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// Generates a random number between 1000 (inclusive) and 10000 (exclusive)\nbh.local.random = Math.floor(1000 + Math.random() * 9000);\n\n\n\n\n\n// Math.floor(1000 + Math.random() * 9000);",
        "functionName": "sd_fTS0qDBIzPc53QXg",
        "category": "Function",
        "x": 360,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPasswowrdComponent",
        "generated": true
    },
    {
        "id": "sd_EdV2gDVguxJSbGCs",
        "type": "PageCallService",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_0gnYLAWUqnINq9N0",
            "type": "tab",
            "createdDate": "2024-05-23T06:54:10.637Z",
            "label": "forgotPasswowrd",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_VkeXD9PznT7SlhFC",
            "flowName": "generateRandomCode"
        },
        "inputVariables": [
            {
                "key": "email",
                "map": true,
                "valueType": "this.page",
                "value": "userDetails.email"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "random",
                "valueType": "this.page",
                "value": "userDetails.code",
                "mapVarName": "random",
                "localVar": "this.page.userDetails.code"
            }
        ],
        "serviceImportPath": "./",
        "startName": "generateRandomCode",
        "inputParams": [
            "this.page.userDetails.email"
        ],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_EdV2gDVguxJSbGCs",
        "category": "General",
        "x": 445,
        "y": 100,
        "wires": [
            [
                "sd_L1QgRt7XT495Ri4j"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPasswowrdComponent",
        "generated": true
    },
    {
        "id": "sd_naM3sEiS48Zg45pZ",
        "type": "Storage",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "userGenerate"
        },
        "value": {
            "type": "this.page",
            "value": "userDetails"
        },
        "resultMapping": {},
        "functionName": "sd_naM3sEiS48Zg45pZ",
        "category": "Storage",
        "x": 605,
        "y": 120,
        "wires": [
            [
                "sd_0kk2ZDroPPlcmYQR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPasswowrdComponent",
        "generated": true
    },
    {
        "id": "sd_pukoZh0c2NDIRwZT",
        "type": "PageStart",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "pages",
        "nodeType": "start",
        "name": "call go back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "callGoBack",
        "category": "General",
        "x": 145,
        "y": 320,
        "wires": [
            [
                "sd_UrZmMsaEsn2VZSap"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "forgotPasswowrdComponent"
    },
    {
        "id": "sd_UrZmMsaEsn2VZSap",
        "type": "PageCallService",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_a0xrdEeKPIYaTwl1",
            "type": "tab",
            "createdDate": "2024-05-27T10:02:38.771Z",
            "label": "shared",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_NRzQzuFnzCxCjA8J",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/shared",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_UrZmMsaEsn2VZSap",
        "category": "General",
        "x": 300,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPasswowrdComponent",
        "generated": true
    }
]
