designs/pages/newPassword.json
[
    {
        "id": "sd_ZkejBUQluKYLVqMr",
        "type": "tab",
        "createdDate": "2024-05-27T09:26:00.789Z",
        "label": "newPassword",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "newPasswordComponent"
    },
    {
        "id": "sd_vHob28e7NgLESG0D",
        "type": "OnInit",
        "z": "sd_ZkejBUQluKYLVqMr",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_vHob28e7NgLESG0D",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_yIGKcM74z7JtqpOZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "newPasswordComponent"
    },
    {
        "id": "sd_yIGKcM74z7JtqpOZ",
        "type": "PageVariables",
        "z": "sd_ZkejBUQluKYLVqMr",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "submit",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "ConfirmPassword",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "userDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{ email: '', password: '' }"
                }
            }
        ],
        "functionName": "sd_yIGKcM74z7JtqpOZ",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_eKUExvdRyneC3q5f"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "newPasswordComponent",
        "generated": true
    },
    {
        "id": "sd_amC2CUsJo3syfQZe",
        "type": "PageStart",
        "z": "sd_ZkejBUQluKYLVqMr",
        "viewType": "pages",
        "nodeType": "start",
        "name": "go back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "sd_AulS8i1vA45hl0ZY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "newPasswordComponent"
    },
    {
        "id": "sd_AulS8i1vA45hl0ZY",
        "type": "PageCallService",
        "z": "sd_ZkejBUQluKYLVqMr",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_a0xrdEeKPIYaTwl1",
            "type": "tab",
            "createdDate": "2024-05-27T10:02:38.771Z",
            "label": "shared",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_NRzQzuFnzCxCjA8J",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/shared",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_AulS8i1vA45hl0ZY",
        "category": "General",
        "x": 265,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "newPasswordComponent",
        "generated": true
    },
    {
        "id": "sd_5H8HwAdPcWF3Yp5W",
        "type": "PageStart",
        "z": "sd_ZkejBUQluKYLVqMr",
        "viewType": "pages",
        "nodeType": "start",
        "name": "newPasswordCall",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "newPasswordCall",
        "category": "General",
        "x": 65,
        "y": 140,
        "wires": [
            [
                "sd_mOFPeQOfgzFGp16Q"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "newPasswordComponent"
    },
    {
        "id": "sd_VCA63cKJpQgB1gQK",
        "type": "HttpRequest",
        "z": "sd_ZkejBUQluKYLVqMr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.userDetails",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "userDetails"
        },
        "resultMapping": "this.page.userDetails",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "userDetails"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_VCA63cKJpQgB1gQK",
        "category": "HTTP",
        "x": 625,
        "y": 120,
        "wires": [
            [
                "sd_NoDjoMwchA3zc8uZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "newPasswordComponent",
        "generated": true
    },
    {
        "id": "sd_IpKU2ZdW5JGaNgfh",
        "type": "Environment",
        "z": "sd_ZkejBUQluKYLVqMr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "url"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_IpKU2ZdW5JGaNgfh",
        "category": "General",
        "x": 425,
        "y": 120,
        "wires": [
            [
                "sd_Vc9WSQT8xNY5fTvg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "newPasswordComponent",
        "generated": true
    },
    {
        "id": "sd_Vc9WSQT8xNY5fTvg",
        "type": "Script",
        "z": "sd_ZkejBUQluKYLVqMr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submit = true;\nbh.url  = bh.url + 'update-admin-details';\nbh.collection = 'admin';\npage.userDetails.email = page.recievedUserDetials.email;\n\n// bh.body = {\n//     email: page.recievedUserDetials.email,\n//     password: page.userDetails.password\n// }\n\n\n\nconsole.log(\"email recieved\", page.userDetails.email )",
        "functionName": "sd_Vc9WSQT8xNY5fTvg",
        "category": "Function",
        "x": 525,
        "y": 120,
        "wires": [
            [
                "sd_VCA63cKJpQgB1gQK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "newPasswordComponent",
        "generated": true
    },
    {
        "id": "sd_mOFPeQOfgzFGp16Q",
        "type": "PageSwitch",
        "z": "sd_ZkejBUQluKYLVqMr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "userDetails.password",
        "propertyType": "this.page",
        "propertyGv": "this.page.userDetails.password",
        "rules": [
            {
                "t": "eq",
                "v": "ConfirmPassword",
                "vt": "this.page",
                "gv": "this.page.ConfirmPassword"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_mOFPeQOfgzFGp16Q",
        "category": "Function",
        "x": 225,
        "y": 140,
        "wires": [
            [
                "sd_IpKU2ZdW5JGaNgfh"
            ],
            [
                "sd_Zt7VtRtKheWB0BSw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "newPasswordComponent",
        "generated": true
    },
    {
        "id": "sd_Zt7VtRtKheWB0BSw",
        "type": "SnackBar",
        "z": "sd_ZkejBUQluKYLVqMr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Password doesn't match"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_Zt7VtRtKheWB0BSw",
        "category": "General",
        "x": 400,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "newPasswordComponent",
        "generated": true
    },
    {
        "id": "sd_oBJwzJSPtrNrCHeF",
        "type": "Navigation",
        "z": "sd_ZkejBUQluKYLVqMr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/sign-in",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_oBJwzJSPtrNrCHeF",
        "category": "Navigation",
        "x": 765,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "newPasswordComponent",
        "generated": true
    },
    {
        "id": "sd_eKUExvdRyneC3q5f",
        "type": "Storage",
        "z": "sd_ZkejBUQluKYLVqMr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "userGenerate"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "recievedUserDetials"
        },
        "functionName": "sd_eKUExvdRyneC3q5f",
        "category": "Storage",
        "x": 245,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "newPasswordComponent",
        "generated": true
    },
    {
        "id": "sd_NoDjoMwchA3zc8uZ",
        "type": "SnackBar",
        "z": "sd_ZkejBUQluKYLVqMr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Password has been changed"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_NoDjoMwchA3zc8uZ",
        "category": "General",
        "x": 685,
        "y": 120,
        "wires": [
            [
                "sd_oBJwzJSPtrNrCHeF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "newPasswordComponent",
        "generated": true
    }
]
