designs/pages/Reports.json
[
    {
        "id": "sd_CRQh9b27I7u4Q6yC",
        "type": "tab",
        "createdDate": "2024-05-16T10:21:34.939Z",
        "label": "Reports",
        "disabled": false,
        "info": "",
        "functionSeq": 1,
        "generateNext": true,
        "serviceName": "ReportsComponent"
    },
    {
        "id": "sd_ufJSuWzjbrEAJKtM",
        "type": "OnInit",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_ufJSuWzjbrEAJKtM",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_FUCWX8JLQb5hCT7C"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ReportsComponent"
    },
    {
        "id": "sd_yejAp2yyrgV5htH6",
        "type": "PageVariables",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "numChanges",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "url",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_yejAp2yyrgV5htH6",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_W4eVynEP5bq3lmAn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_LveZHP70KdonnkIW",
        "type": "Environment",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_LveZHP70KdonnkIW",
        "category": "General",
        "x": 185,
        "y": 220,
        "wires": [
            [
                "sd_RAYCgIvcv6u00hCH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_RAYCgIvcv6u00hCH",
        "type": "Script",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.sumbit = true;\nbh.url = bh.ssdUrl + 'get-customers';\nbh.urlLoans = bh.ssdUrl + 'get-loans';\n// page.loader = true;\n// console.log(bh.input.form)",
        "functionName": "sd_RAYCgIvcv6u00hCH",
        "category": "Function",
        "x": 305,
        "y": 220,
        "wires": [
            [
                "sd_VcK9Ma3rSdE0JJWP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_VcK9Ma3rSdE0JJWP",
        "type": "PageSwitch",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "sumbit",
        "propertyType": "bh",
        "propertyGv": "bh.sumbit",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_VcK9Ma3rSdE0JJWP",
        "category": "Function",
        "x": 405,
        "y": 220,
        "wires": [
            [
                "sd_VS8xIRRCrbv7SSQi"
            ],
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_VS8xIRRCrbv7SSQi",
        "type": "HttpRequest",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.resultAccounts",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "resultAccounts"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_VS8xIRRCrbv7SSQi",
        "category": "HTTP",
        "x": 505,
        "y": 220,
        "wires": [
            [
                "sd_Fp1qYYWBw3IPWIyt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_2XbIdhmdmI1NYgpg",
        "type": "SnackBar",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Logged In successfully"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_2XbIdhmdmI1NYgpg",
        "category": "General",
        "x": 625,
        "y": 80,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ReportsComponent"
    },
    {
        "id": "sd_J4L7vrr7VIuFTIHo",
        "type": "Log",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "bh.updated",
        "functionName": "sd_J4L7vrr7VIuFTIHo",
        "category": "General",
        "x": 845,
        "y": 100,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh",
                "value": "updated",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ReportsComponent"
    },
    {
        "id": "sd_3kmljMJkUYUoPVOE",
        "type": "Script",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.updated = page.resultAccounts.filter((resultAccounts: any) => resultAccounts.status === 'approved' || resultAccounts.status === 'rejected')\nbh.updatedLoans = page.resultLoan.filter((resultLoan: any) => resultLoan.status === 'approved' || resultLoan.status === 'rejected')\n\nbh.data = bh.updated.concat(bh.updatedLoans);\n\nbh.todayDate = new Date();\n\nbh.formattedDate = bh.todayDate.toISOString().slice(0,10)\n\n// console.log(\"bh date today: \",bh.formattedDate)\nbh.numChanges = bh.data.filter(data => data.date.slice(0,10) === bh.formattedDate).length\n// console.log(\"bh numchanges: \",bh.numChanges)\n// console.log(\"bh data: \",bh.data)\n\n// bh.data = bh.data.map((item:any) => {\n//     return {\n//         ...item,\n//         date: page.datePipe(new Date(item.date), 'dd-MM-yyyy hh:mm')\n//     }\n// })\n\nbh.data = bh.data.filter((res) => {\n    if(res.fullName) {\n        res.firstName = res.fullName.split(' ')[0]\n        res.lastName = res.fullName.split(' ')[res.fullName.split(' ').length -1]\n        return res\n    }\n    else {\n        return res\n    }\n})\n\nbh.local.dataSource = new MatTableDataSource(bh.data);\n\n\n\n// console.log(\"accounts\",bh.updated)\n// console.log(\"loans\",bh.updatedLoans)\n\n\n// console.log(\"data from accounts\",bh.local.dataSource)\n\n\n// console.log('updated: ',bh.updated)\n\n\n// console.log(bh.data)",
        "functionName": "sd_3kmljMJkUYUoPVOE",
        "category": "Function",
        "x": 665,
        "y": 220,
        "wires": [
            [
                "sd_UcyCXgudi5PelR5R"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_FUCWX8JLQb5hCT7C",
        "type": "Script",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "",
        "functionName": "sd_FUCWX8JLQb5hCT7C",
        "category": "Function",
        "x": 105,
        "y": 20,
        "wires": [
            [
                "sd_yejAp2yyrgV5htH6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_UcyCXgudi5PelR5R",
        "type": "PageVariables",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "dataSource"
                }
            },
            {
                "textIp": "pictureUrl",
                "typedIpValue": {
                    "type": "str",
                    "value": "http://localhost:8081/api/download-picture/"
                }
            }
        ],
        "functionName": "sd_UcyCXgudi5PelR5R",
        "category": "Function",
        "x": 765,
        "y": 220,
        "wires": [
            [
                "sd_HVVTaRst88mAyu1E"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_W4eVynEP5bq3lmAn",
        "type": "UseDependency",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [],
        "import_all": false,
        "library": "@angular/core",
        "serviceDesignerType": "pages",
        "functionName": "sd_W4eVynEP5bq3lmAn",
        "category": "Function",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "sd_LveZHP70KdonnkIW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_XmddD2zsZRBRSt5F",
        "type": "Environment",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_XmddD2zsZRBRSt5F",
        "category": "General",
        "x": 185,
        "y": 340,
        "wires": [
            [
                "sd_KRDzpGTTSj6pHhnd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_KRDzpGTTSj6pHhnd",
        "type": "Script",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.sumbit = true;\nbh.url = bh.ssdUrl + 'get-loans';\n\n// page.loader = true;\n// console.log(bh.input.form)",
        "functionName": "sd_KRDzpGTTSj6pHhnd",
        "category": "Function",
        "x": 328,
        "y": 360.8020935058594,
        "wires": [
            [
                "sd_9r5l6RNYekZkq78M"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_Q2p9IcWkidOt3rek",
        "type": "HttpRequest",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_Q2p9IcWkidOt3rek",
        "category": "HTTP",
        "x": 540,
        "y": 373.8020935058594,
        "wires": [
            [
                "sd_iD3PRPEFaXdAFYH8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_iD3PRPEFaXdAFYH8",
        "type": "Script",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.updatedLoans = page.result.filter((result: any) => result.status === 'approved' || result.status === 'rejected')\nconsole.log(\"loans\",bh.updatedLoans)\nconsole.log('updated: ',bh.updated)\nbh.data = bh.updated.concat(bh.updatedLoans)\n\n// bh.local.dataSource = new MatTableDataSource(bh.data);",
        "functionName": "sd_iD3PRPEFaXdAFYH8",
        "category": "Function",
        "x": 637,
        "y": 390.8020935058594,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_lNXpgD4z0uGbNhrL",
        "type": "PageStart",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "pages",
        "nodeType": "start",
        "name": "add loans",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "addLoans",
        "category": "General",
        "x": 65,
        "y": 340,
        "wires": [
            [
                "sd_XmddD2zsZRBRSt5F"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ReportsComponent"
    },
    {
        "id": "sd_9r5l6RNYekZkq78M",
        "type": "PageSwitch",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "sumbit",
        "propertyType": "bh",
        "propertyGv": "bh.sumbit",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_9r5l6RNYekZkq78M",
        "category": "Function",
        "x": 445,
        "y": 340,
        "wires": [
            [
                "sd_Q2p9IcWkidOt3rek"
            ],
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_Fp1qYYWBw3IPWIyt",
        "type": "HttpRequest",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.urlLoans",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "urlLoans"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.userData",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "userData"
        },
        "resultMapping": "this.page.resultLoan",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "resultLoan"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_Fp1qYYWBw3IPWIyt",
        "category": "HTTP",
        "x": 585,
        "y": 220,
        "wires": [
            [
                "sd_3kmljMJkUYUoPVOE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_HVVTaRst88mAyu1E",
        "type": "Storage",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "numChanges"
        },
        "value": {
            "type": "bh",
            "value": "numChanges"
        },
        "resultMapping": {},
        "functionName": "sd_HVVTaRst88mAyu1E",
        "category": "Storage",
        "x": 865,
        "y": 220,
        "wires": [
            [
                "sd_xuhjXB694zESsVeM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_OyAtUJpHwuaikskx",
        "type": "AfterViewInit",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "ngAfterViewInit",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 610,
        "wires": [
            [
                "sd_3bveHzOTaIJgPVzi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ReportsComponent"
    },
    {
        "id": "sd_3bveHzOTaIJgPVzi",
        "type": "ViewPicker",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "literal",
                    "value": "MatPaginator"
                },
                "defaultValue": "",
                "isViewChildren": false
            }
        ],
        "functionName": "sd_xKCCTWKzvgDN0rx7_1",
        "category": "Function",
        "x": 205,
        "y": 610,
        "wires": [
            [
                "sd_w31iKZ1zuMkdi7aD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_w31iKZ1zuMkdi7aD",
        "type": "Script",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "this.page.tableData.paginator = this.MatPaginator;",
        "functionName": "sd_2VNGqvcKee34lvOz_1",
        "category": "Function",
        "x": 345,
        "y": 610,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_67zLadLyB18IVUAO",
        "type": "Environment",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrlPicture"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_67zLadLyB18IVUAO",
        "category": "General",
        "x": 785,
        "y": 620,
        "wires": [
            [
                "sd_do2lj2N1wmtDfmF1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_do2lj2N1wmtDfmF1",
        "type": "Script",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.url = page.ssdUrlPicture +  `download-picture/${page.result[0].email}`;\n// page.profileImage = page.ssdUrl + `download-picture/${page.result.email}`\n\nconsole.log(\"page.result\", page.result)",
        "functionName": "sd_do2lj2N1wmtDfmF1",
        "category": "Function",
        "x": 865,
        "y": 620,
        "wires": [
            [
                "sd_W0sb5teWJ8fuqedS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_W0sb5teWJ8fuqedS",
        "type": "HttpRequest",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.result.email",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result.email"
        },
        "resultMapping": "this.page.resultPicture",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "resultPicture"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_W0sb5teWJ8fuqedS",
        "category": "HTTP",
        "x": 985,
        "y": 620,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_wU8C99QDE51MoMfs",
        "type": "PageStart",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "pages",
        "nodeType": "start",
        "name": "get picute",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getPicute",
        "category": "General",
        "x": 625,
        "y": 620,
        "wires": [
            [
                "sd_67zLadLyB18IVUAO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ReportsComponent"
    },
    {
        "id": "sd_xuhjXB694zESsVeM",
        "type": "PageCallService",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_CRQh9b27I7u4Q6yC",
            "type": "tab",
            "createdDate": "2024-05-16T10:21:34.939Z",
            "label": "Reports",
            "disabled": false,
            "info": "",
            "functionSeq": 1
        },
        "flow": {
            "flowId": "sd_wU8C99QDE51MoMfs",
            "flowName": "getPicute"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "getPicute",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_xuhjXB694zESsVeM",
        "category": "General",
        "x": 985,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    }
]
