designs/pages/selectedLoan.json
[
    {
        "id": "sd_8uQYGG2K9kvNcabl",
        "type": "tab",
        "createdDate": "2024-05-22T07:47:32.196Z",
        "label": "selectedLoan",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "selectedLoanComponent"
    },
    {
        "id": "sd_ZJxIlh6PeVoj3K3v",
        "type": "OnInit",
        "z": "sd_8uQYGG2K9kvNcabl",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_ZJxIlh6PeVoj3K3v",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_2ZNYiUUvCH84ctHU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "selectedLoanComponent"
    },
    {
        "id": "sd_2ZNYiUUvCH84ctHU",
        "type": "UseDependency",
        "z": "sd_8uQYGG2K9kvNcabl",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Router",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "router"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/router",
        "serviceDesignerType": "pages",
        "functionName": "sd_2ZNYiUUvCH84ctHU",
        "category": "Function",
        "x": 105,
        "y": 40,
        "wires": [
            [
                "sd_j1Up3S7Lu7uXeilp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedLoanComponent",
        "generated": true
    },
    {
        "id": "sd_j1Up3S7Lu7uXeilp",
        "type": "PageVariables",
        "z": "sd_8uQYGG2K9kvNcabl",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "name",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "surname",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "idNumber",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "cellNumber",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "email",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "status",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "doc",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "currentAccount",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "selected",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "update_",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "userInfos",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "userData",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "time",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "profileImage",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "image",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "showImage",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_j1Up3S7Lu7uXeilp",
        "category": "Function",
        "x": 205,
        "y": 40,
        "wires": [
            [
                "sd_H299LlXOjbeNbUX2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedLoanComponent",
        "generated": true
    },
    {
        "id": "sd_72Ms36Z0Eb1BOYML",
        "type": "Script",
        "z": "sd_8uQYGG2K9kvNcabl",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let userDataString = sessionStorage.getItem('userLoan');\n\nlet userData = JSON.parse(userDataString || '[]');\npage.userData = userData;\npage.userData.interestRate = 13\n\nconsole.log(\"recived\",page.userData  )\n\npage.profileImage = page.ssdUrl + `download-picture/${page.userData.email}`\n",
        "functionName": "sd_72Ms36Z0Eb1BOYML",
        "category": "Function",
        "x": 365,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedLoanComponent",
        "generated": true
    },
    {
        "id": "sd_2J0mYpWppmiIyBdy",
        "type": "PageStart",
        "z": "sd_8uQYGG2K9kvNcabl",
        "viewType": "pages",
        "nodeType": "start",
        "name": "update",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "update",
        "category": "General",
        "x": 25,
        "y": 280,
        "wires": [
            [
                "sd_ssfyh38o8yOK0Gme"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "selectedLoanComponent"
    },
    {
        "id": "sd_ssfyh38o8yOK0Gme",
        "type": "Environment",
        "z": "sd_8uQYGG2K9kvNcabl",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_ssfyh38o8yOK0Gme",
        "category": "General",
        "x": 165,
        "y": 280,
        "wires": [
            [
                "sd_EF4Oha4eQkQI0Lm9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedLoanComponent",
        "generated": true
    },
    {
        "id": "sd_EF4Oha4eQkQI0Lm9",
        "type": "Script",
        "z": "sd_8uQYGG2K9kvNcabl",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.update_ = true;\npage.userData.date =  new Date();\npage.userData.comeFrom = \"Loan\";\nbh.url = page.ssdUrl + 'update-loan';\nbh.collection = 'loans';\n",
        "functionName": "sd_EF4Oha4eQkQI0Lm9",
        "category": "Function",
        "x": 265,
        "y": 280,
        "wires": [
            [
                "sd_R58AMsRVn4rtPf3y"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedLoanComponent",
        "generated": true
    },
    {
        "id": "sd_R58AMsRVn4rtPf3y",
        "type": "PageSwitch",
        "z": "sd_8uQYGG2K9kvNcabl",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_R58AMsRVn4rtPf3y",
        "category": "Function",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "sd_qOSoJ8UqSZhdqf4b"
            ],
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedLoanComponent",
        "generated": true
    },
    {
        "id": "sd_qOSoJ8UqSZhdqf4b",
        "type": "HttpRequest",
        "z": "sd_8uQYGG2K9kvNcabl",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.userData",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "userData"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_qOSoJ8UqSZhdqf4b",
        "category": "HTTP",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "sd_YEqgpwm13ln3udN7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedLoanComponent",
        "generated": true
    },
    {
        "id": "sd_YEqgpwm13ln3udN7",
        "type": "SnackBar",
        "z": "sd_8uQYGG2K9kvNcabl",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "User status update"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_YEqgpwm13ln3udN7",
        "category": "General",
        "x": 645,
        "y": 200,
        "wires": [
            [
                "sd_48CKw2af704RvPyl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedLoanComponent",
        "generated": true
    },
    {
        "id": "sd_48CKw2af704RvPyl",
        "type": "Navigation",
        "z": "sd_8uQYGG2K9kvNcabl",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home/Loan management",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_48CKw2af704RvPyl",
        "category": "Navigation",
        "x": 745,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedLoanComponent",
        "generated": true
    },
    {
        "id": "sd_H299LlXOjbeNbUX2",
        "type": "Environment",
        "z": "sd_8uQYGG2K9kvNcabl",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_H299LlXOjbeNbUX2",
        "category": "General",
        "x": 285,
        "y": 40,
        "wires": [
            [
                "sd_72Ms36Z0Eb1BOYML"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedLoanComponent",
        "generated": true
    }
]
