designs/pages/Support.json
[
    {
        "id": "sd_J1VOhN32oxIVCbfP",
        "type": "tab",
        "createdDate": "2024-05-16T10:21:49.413Z",
        "label": "Support",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "SupportComponent"
    },
    {
        "id": "sd_giFlQaukemdmmLNI",
        "type": "OnInit",
        "z": "sd_J1VOhN32oxIVCbfP",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_giFlQaukemdmmLNI",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_p2hWX18w0WHhAySD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "SupportComponent"
    },
    {
        "id": "sd_p2hWX18w0WHhAySD",
        "type": "PageVariables",
        "z": "sd_J1VOhN32oxIVCbfP",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "submit",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "ticket",
                "typedIpValue": {
                    "type": "str",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_p2hWX18w0WHhAySD",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "SupportComponent"
    },
    {
        "id": "sd_9z1LpTz8pK2Z1toT",
        "type": "Environment",
        "z": "sd_J1VOhN32oxIVCbfP",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_9z1LpTz8pK2Z1toT",
        "category": "General",
        "x": 225,
        "y": 220,
        "wires": [
            [
                "sd_KtzrkgaiP8juSPwP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "SupportComponent"
    },
    {
        "id": "sd_KtzrkgaiP8juSPwP",
        "type": "Script",
        "z": "sd_J1VOhN32oxIVCbfP",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.sumbit = true;\nbh.url = bh.ssdUrl + 'ticket';\n\n// page.loader = true;\n// console.log(bh.input.form)",
        "functionName": "sd_KtzrkgaiP8juSPwP",
        "category": "Function",
        "x": 345,
        "y": 220,
        "wires": [
            [
                "sd_6jYGDl18iA224wPR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "SupportComponent"
    },
    {
        "id": "sd_6jYGDl18iA224wPR",
        "type": "PageSwitch",
        "z": "sd_J1VOhN32oxIVCbfP",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "ticket",
        "propertyType": "this.page",
        "propertyGv": "this.page.ticket",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_6jYGDl18iA224wPR",
        "category": "Function",
        "x": 445,
        "y": 220,
        "wires": [
            [
                "sd_e1xT4wGIE7TScJuX"
            ],
            [
                "sd_9PCHjpaC9Y43DCfy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "SupportComponent"
    },
    {
        "id": "sd_e1xT4wGIE7TScJuX",
        "type": "HttpRequest",
        "z": "sd_J1VOhN32oxIVCbfP",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.ticket",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "ticket"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_e1xT4wGIE7TScJuX",
        "category": "HTTP",
        "x": 545,
        "y": 220,
        "wires": [
            [
                "sd_PLqGm5rhTK3dj9P6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "SupportComponent"
    },
    {
        "id": "sd_NvLevMUweWKjhMl8",
        "type": "PageStart",
        "z": "sd_J1VOhN32oxIVCbfP",
        "viewType": "pages",
        "nodeType": "start",
        "name": "send ticket",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "sendTicket",
        "category": "General",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "sd_9z1LpTz8pK2Z1toT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "SupportComponent"
    },
    {
        "id": "sd_va7TLJILu5919Aor",
        "type": "Navigation",
        "z": "sd_J1VOhN32oxIVCbfP",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home/landing",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_va7TLJILu5919Aor",
        "category": "Navigation",
        "x": 745,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "SupportComponent"
    },
    {
        "id": "sd_PLqGm5rhTK3dj9P6",
        "type": "SnackBar",
        "z": "sd_J1VOhN32oxIVCbfP",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Ticket has been sent to support"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_PLqGm5rhTK3dj9P6",
        "category": "General",
        "x": 625,
        "y": 200,
        "wires": [
            [
                "sd_va7TLJILu5919Aor"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "SupportComponent"
    },
    {
        "id": "sd_9PCHjpaC9Y43DCfy",
        "type": "SnackBar",
        "z": "sd_J1VOhN32oxIVCbfP",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Ticket is empty"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_9PCHjpaC9Y43DCfy",
        "category": "General",
        "x": 485,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "SupportComponent"
    },
    {
        "id": "sd_p2hWX18w0WHhAySD",
        "type": "PageVariables",
        "z": "sd_J1VOhN32oxIVCbfP",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "submit",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "ticket",
                "typedIpValue": {
                    "type": "str",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_p2hWX18w0WHhAySD",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "SupportComponent",
        "generated": true
    },
    {
        "id": "sd_9z1LpTz8pK2Z1toT",
        "type": "Environment",
        "z": "sd_J1VOhN32oxIVCbfP",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_9z1LpTz8pK2Z1toT",
        "category": "General",
        "x": 225,
        "y": 220,
        "wires": [
            [
                "sd_KtzrkgaiP8juSPwP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "SupportComponent",
        "generated": true
    },
    {
        "id": "sd_KtzrkgaiP8juSPwP",
        "type": "Script",
        "z": "sd_J1VOhN32oxIVCbfP",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.sumbit = true;\nbh.url = bh.ssdUrl + 'ticket';\n\n// page.loader = true;\n// console.log(bh.input.form)",
        "functionName": "sd_KtzrkgaiP8juSPwP",
        "category": "Function",
        "x": 345,
        "y": 220,
        "wires": [
            [
                "sd_6jYGDl18iA224wPR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "SupportComponent",
        "generated": true
    },
    {
        "id": "sd_6jYGDl18iA224wPR",
        "type": "PageSwitch",
        "z": "sd_J1VOhN32oxIVCbfP",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "ticket",
        "propertyType": "this.page",
        "propertyGv": "this.page.ticket",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_6jYGDl18iA224wPR",
        "category": "Function",
        "x": 445,
        "y": 220,
        "wires": [
            [
                "sd_e1xT4wGIE7TScJuX"
            ],
            [
                "sd_9PCHjpaC9Y43DCfy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "SupportComponent",
        "generated": true
    },
    {
        "id": "sd_e1xT4wGIE7TScJuX",
        "type": "HttpRequest",
        "z": "sd_J1VOhN32oxIVCbfP",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.ticket",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "ticket"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_e1xT4wGIE7TScJuX",
        "category": "HTTP",
        "x": 545,
        "y": 220,
        "wires": [
            [
                "sd_PLqGm5rhTK3dj9P6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "SupportComponent",
        "generated": true
    },
    {
        "id": "sd_NvLevMUweWKjhMl8",
        "type": "PageStart",
        "z": "sd_J1VOhN32oxIVCbfP",
        "viewType": "pages",
        "nodeType": "start",
        "name": "send ticket",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "sendTicket",
        "category": "General",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "sd_9z1LpTz8pK2Z1toT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "SupportComponent"
    },
    {
        "id": "sd_va7TLJILu5919Aor",
        "type": "Navigation",
        "z": "sd_J1VOhN32oxIVCbfP",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home/landing",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_va7TLJILu5919Aor",
        "category": "Navigation",
        "x": 745,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "SupportComponent",
        "generated": true
    },
    {
        "id": "sd_PLqGm5rhTK3dj9P6",
        "type": "SnackBar",
        "z": "sd_J1VOhN32oxIVCbfP",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Ticket has been sent to support"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_PLqGm5rhTK3dj9P6",
        "category": "General",
        "x": 625,
        "y": 200,
        "wires": [
            [
                "sd_va7TLJILu5919Aor"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "SupportComponent",
        "generated": true
    },
    {
        "id": "sd_9PCHjpaC9Y43DCfy",
        "type": "SnackBar",
        "z": "sd_J1VOhN32oxIVCbfP",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Ticket is empty"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_9PCHjpaC9Y43DCfy",
        "category": "General",
        "x": 485,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "SupportComponent",
        "generated": true
    }
]
