designs/pages/verification.json
[
    {
        "id": "sd_sejzyV74N3tfnXin",
        "type": "tab",
        "createdDate": "2024-05-26T17:19:56.656Z",
        "label": "verification",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "verificationComponent"
    },
    {
        "id": "sd_VRZWmEy3WS0Kf2rr",
        "type": "OnInit",
        "z": "sd_sejzyV74N3tfnXin",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_VRZWmEy3WS0Kf2rr",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_CKhE5zJbVp0IIhs9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verificationComponent"
    },
    {
        "id": "sd_CKhE5zJbVp0IIhs9",
        "type": "PageVariables",
        "z": "sd_sejzyV74N3tfnXin",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "EnteredCode",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_CKhE5zJbVp0IIhs9",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_FwzR1CsJIM4L36MS",
        "type": "Storage",
        "z": "sd_sejzyV74N3tfnXin",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "userGenerate"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "userGenerate"
        },
        "functionName": "sd_FwzR1CsJIM4L36MS",
        "category": "Storage",
        "x": 245,
        "y": 260,
        "wires": [
            [
                "sd_pxrODP1541jZKL15"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_pxrODP1541jZKL15",
        "type": "PageSwitch",
        "z": "sd_sejzyV74N3tfnXin",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "EnteredCode",
        "propertyType": "this.page",
        "propertyGv": "this.page.EnteredCode",
        "rules": [
            {
                "t": "eq",
                "v": "userGenerate.code",
                "vt": "this.page",
                "gv": "this.page.userGenerate.code"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_pxrODP1541jZKL15",
        "category": "Function",
        "x": 385,
        "y": 140,
        "wires": [
            [
                "sd_YV4eSlI4zPNWDsr4"
            ],
            [
                "sd_wDpTUjMiUZw7lwoB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_wDpTUjMiUZw7lwoB",
        "type": "SnackBar",
        "z": "sd_sejzyV74N3tfnXin",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Incorrect  verification code"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_wDpTUjMiUZw7lwoB",
        "category": "General",
        "x": 500,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_YV4eSlI4zPNWDsr4",
        "type": "SnackBar",
        "z": "sd_sejzyV74N3tfnXin",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "verification code correct"
        },
        "action": {
            "type": "str",
            "value": "3000"
        },
        "duration": {
            "type": "num",
            "value": ""
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_YV4eSlI4zPNWDsr4",
        "category": "General",
        "x": 540,
        "y": 120,
        "wires": [
            [
                "sd_1xWUiXzdzIWIxsYl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_1xWUiXzdzIWIxsYl",
        "type": "Navigation",
        "z": "sd_sejzyV74N3tfnXin",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/new Password",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_1xWUiXzdzIWIxsYl",
        "category": "Navigation",
        "x": 665,
        "y": 100,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_7sdGI3ezxgLoICTx",
        "type": "PageStart",
        "z": "sd_sejzyV74N3tfnXin",
        "viewType": "pages",
        "nodeType": "start",
        "name": "verification",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "verification",
        "category": "General",
        "x": 85,
        "y": 260,
        "wires": [
            [
                "sd_FwzR1CsJIM4L36MS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verificationComponent"
    },
    {
        "id": "sd_2hjxxvpMlhG8gHIq",
        "type": "PageStart",
        "z": "sd_sejzyV74N3tfnXin",
        "viewType": "pages",
        "nodeType": "start",
        "name": "go back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 125,
        "y": 400,
        "wires": [
            [
                "sd_f2r59rK2cGoAEpjI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verificationComponent"
    },
    {
        "id": "sd_f2r59rK2cGoAEpjI",
        "type": "PageCallService",
        "z": "sd_sejzyV74N3tfnXin",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_a0xrdEeKPIYaTwl1",
            "type": "tab",
            "createdDate": "2024-05-27T10:02:38.771Z",
            "label": "shared",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_NRzQzuFnzCxCjA8J",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/shared",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_f2r59rK2cGoAEpjI",
        "category": "General",
        "x": 245,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    }
]
